numpy
pandas
scipy
scikit-learn
pycaret
matplotlib
japanize_matplotlib
mlxtend
seaborn
plotly
requests
beautifulsoup4
Pillow
opencv-python

black
isort
jupyterlab
jupyterlab-code-formatter
jupyterlab-widgets
lckr-jupyterlab-variableinspector
jupyterlab-git
ipywidgets
import-ipynb
